body {
    margin: 0;
}
main {
    text-align: center;
}
#input-wrapper > input {
    margin-right: 8px;
    padding: 12px 24px;
    width: 12%;
}
#input-wrapper > select {
    padding: 12px 24px;
    width: 8%;
}
#btn-wrapper {
    margin-top: 32px;
}
#btn-wrapper > button {
    margin-right: 8px;
    padding: 12px 24px;
}
#btn-wrapper > button:last-of-type {
    margin: 0;
}
#outputField {
    margin-top: 32px;
    padding: 12px 24px;
    cursor: not-allowed;
}